[submodule "WorkTimeTracker/vendor/ImGui"]
	path = WorkTimeTracker/vendor/ImGui
	url = https://github.com/Mich-Dich/imgui
[submodule "WorkTimeTracker/vendor/GLFW"]
	path = WorkTimeTracker/vendor/GLFW
	url = https://github.com/Mich-Dich/glfw
